<div class="container mt-5 text-center">
    <h1 class="text-primary">Tratamientos Dentales</h1>
    <p>Ofrecemos servicios diversos en Odontología, con propuestas y tendencias modernas ocupando la
        tecnología avanzada para satisfacer las necesidades y demandas de nuestros clientes.</p>
    <div class="row row-cols-2">
        <div class="col">
            <h4 class="text-primary">SEDACIÓN</h4>
            <p>Es una técnica usada en Odontología por la cual el paciente respira una mezcla de óxido
                nitroso y oxígeno que rápidamente produce una agradable sensación y relajación.</p>
        </div>
        <div class="col">
            <h4 class="text-primary">ORTODONCIA</h4>
            <p>Este procedimiento utilizando brackets logra que el paciente tenga un acople perfecto de su
                mordida y alineamiento de los dientes.</p>
        </div>
        <div class="col">
            <h4 class="text-primary">REHABILITACIÓN ORAL</h4>
            <p>La Rehabilitación Oral es la parte de la Odontología encargada de la restauración de la
                función, estética y armonía orales mediante prótesis dentales.</p>
        </div>
        <div class="col">
            <h4 class="text-primary">ARTICULACIÓN TEMPORO MANDIBULAR</h4>
            <p>Tratamientos relacionados con el mal funcionamiento de la estructura cráneo-mandibular</p>
        </div>
        <div class="col">
            <h4 class="text-primary">CIRUGÍA</h4>
            <p>La extracción de los terceros molares o cualquier otro diente, así como la eliminación de
                cualquier patología y su evaluación respectiva se lleva a cabo por esta especialidad</p>
        </div>
        <div class="col">
            <h4 class="text-primary">IMPLANTES DENTALES</h4>
            <p>Estos procedimientos se hacen para dientes individuales como para remplazar todos los dientes
                perdidos. El implante está fabricado con materiales biocompatibles</p>
        </div>
        <div class="col">
            <h4 class="text-primary">ENDODONCIA</h4>
            <p>Es el procedimiento que se aplica cuando el nervio del diente se infecta, muere y requiere
                ser removido para posteriormente sellar el conducto y evitar infecciones futuras.</p>
        </div>
        <div class="col">
            <h4 class="text-primary">OPERATORIA DENTAL</h4>
            <p>Se encarga de analizar estos casos y determinar cuál es el procedimiento adecuado para
                recuperar cada una de estas estructuras.</p>
        </div>
        <div class="col">
            <h4 class="text-primary">DISEÑO DE SONRISA</h4>
            <p>El diseño de sonrisa ayuda a determinar los aspectos necesarios para que tu sonrisa y tus
                dientes estén en completa armonía con tu rostro.</p>
        </div>
        <div class="col">
            <h4 class="text-primary">CARILLAS Y ACLARAMIENTO DENTAL</h4>
            <p>La técnica de carillas es un procedimiento estético dental indicado para pacientes que
                presentan manchas o alteración de la forma dental.</p>
        </div>
    </div>
</div>